# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Visual Studio
*.sdf
*.sln
*.vcxproj
*.filters
*.opensdf
*.suo
Debug/*